@media only screen and (max-width: 820px) {
  .meme_img {
    width: 60%;
    height: auto;
  }

  h1 {
    font-size: 160%;
  }

  h2 {
    font-size: 120%;
  }

  .open_icon {
    font-size: 1.5em;
  }

  .close_icon {
    font-size: 1em;
  }

  .first_icon {
    font-size: 1em;
  }
}


@media only screen and (max-width: 320px) {
  .meme_img {
      width: 80%;
      height: auto;
  }

  h1 {
    font-size: 150%;
  }

  h2 {
    font-size: 100%;
  }

  .open_icon {
    font-size: 1.3em;
  }

  .close_icon {
    font-size: 0.8em;
  }
  
  .first_icon {
    font-size: 0.8em;
  }
}